@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --font: "Inter", sans-serif;
  --dark-green: rgba(70, 145, 101, 1);
  --light-green: rgba(48, 184, 104, 1);
  --white: rgba(255, 255, 255, 1);
  --salmon: rgba(249, 85, 85, 1);
  --dark: rgba(0, 25, 49, 1);
  --gray: rgba(98, 115, 130, 1);
  --dark-gray: rgba(247, 246, 242, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
.btn {
  color: var(--white);
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background: var(--dark-green);
  font-weight: 600;
}
nav {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* Banner  */
.banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 415px 180px 415px;
}

.banner-content {
  max-width: 770px;
  margin: auto;
  text-align: center;
}

.banner-content h1 {
  font-size: 68px;
  font-weight: 700;
  color: var(--white);
}

.banner-content p {
  font-size: 18px;
  line-height: 35px;
  color: var(--white);
  margin: 20px 0 40px 0;
}

.green-text {
  color: var(--light-green);
}

.early-access-btn {
  padding: 8px 12px;
  background-color: var(--white);
  color: var(--dark-green);
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;

  margin: 1rem auto;
  justify-content: center;
}

.btn1 {
  color: var(--white);
  padding: 12px 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background: transparent;
  font-weight: 600;
  margin-left: 1rem;
}

/* Notes Section */
.notes {
  margin: 70px 0;
}
.notes-content {
  max-width: 1360px;
  margin: auto;
  text-align: center;
}

.notes-content h1,
.sb-content h1,
.earlyAccess-container h1 {
  font-size: 3rem;
  color: var(--dark);
  margin-bottom: 1rem;
  font-weight: bold;
}

.notes p {
  color: var(--gray);
}

.card-container {
  display: flex;
  gap: 24px;
  margin-top: 44px;
}

.card {
  padding: 70px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.image-container {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--salmon);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  margin-bottom: 1rem;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Second Brain Section */
.second-brain {
  padding: 100px 0;
}
.second-brain-container {
  max-width: 1360px;
  margin: auto;
  display: flex;
  gap: 3.75rem;
  align-items: center;
}

.sb-image-container {
  flex: 1;
}
.sb-image-container img {
  max-width: 600px;
  height: auto;
}

.sb-content {
  flex: 1;
}

.sb-content h3 {
  font-weight: 500;
  color: var(--dark-green);
  margin-bottom: 1rem;
}

.sb-content p {
  color: var(--gray);
  margin: 1.5rem 0 2rem;
}

.sb-content ul {
  list-style: none;
}

.sb-content ul li {
  display: flex;
  margin-bottom: 1rem;
  font-weight: 500;
  /* align-items: center; */
  gap: 10px;
}

/* Early Access Section */
.earlyAccess-container {
  max-width: 1360px;
  margin: auto;
  text-align: center;
  padding: 80px 40px;
  background-color: var(--dark-gray);
  border-radius: 12px;
}

.earlyAccess-content {
  max-width: 700px;
  margin: auto;
}

.earlyAccess-container p {
  color: var(--gray);
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
}

/* Footer */
footer {
  background: rgba(0, 25, 49, 1);
  margin-top: 120px;
}
.footer-container {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 120px;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 80px;
}

.social-links p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  font-size: 20px;
  gap: 1rem;
  align-items: center;
}

.copyright-part {
  border-top: 1px solid rgba(229, 231, 235, 1);
  color: var(--white);
  text-align: center;
  padding: 30px 0;
}
